.slider-overlay {
  background: #000;
  background: linear-gradient(90deg, #000, hsla(0, 0%, 100%, 0));
  height: 580px;
  position: absolute;
  width: 100%;
}

.left-arrow,
.right-arrow {
  color: var(--red);
  z-index: 2;
  font-size: 7rem;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  top: 15%;
}

.left-arrow:hover,
.right-arrow:hover {
  opacity: 1;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.slider-info {
  height: 39vh;
  position: absolute;
  z-index: 1;
  color: var(--white);
  width: 50%;
  bottom: 50px;
  padding: 50px 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slider-info h1{
    font-size: 3rem;
    color: #fdf8f8f6;
}

.slider-info p:nth-child(2){
    font-size: 1.3rem;
    width: 600px;
    color: #ccc;
    font-weight: 700;
}

.slider-info p:nth-child(3){
    font-size: 1rem;
    color: var(--green);
    font-weight: 500;
}


/* ---media query Laptop */
@media screen and (max-width: 1445px) {
  .slider-overlay {
    height: 510px;
  }
}


/* ---media query Mobile */
@media screen and (max-width: 480px) {
  .slider-overlay {
    height: 513px;
  }
  
  .left-arrow,
  .right-arrow {
    font-size: 6rem;
    opacity: 0.7;
    top: 1%;
  }
  
  
  .slider-info {
    height: 25vh;
    width: 50%;
    bottom: 80px;
    padding: 10px 20px;
    justify-content: space-between;
  }
  
  .slider-info h1{
      font-size: 1.8rem;
      width: 350px;
  }
  
  .slider-info p:nth-child(2){
      font-size: 1rem;
      width: 400px;
      font-weight: 700;
      
  }
  
  .slider-info p:nth-child(3){
      font-size: 0.8rem;
      font-weight: 500;
  }
}